.global-container {
  padding: 0 20px;
}

// 自定义table列表操作列样式
.table-operate {
  display: flex;
  justify-content: space-between;
  color: @primary-color;
}

.ant-page-header {
  padding: 40px 30px 16px 30px;
}
